@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
.App {
  font-family: 'Roboto';
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
h1, h2, h3, h4, h5 {
  font-family: 'Roboto Condensed';
  color: rgb(16,50,58);
}
.mainMenu {
  z-index: 500;
}

.shade{
  position: absolute;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 499;
}

.isVisible {
  display: block;
}
.isNotVisible {
  display: none;
}
.es-logo {
  width: 150px;
  margin-top:20px;
  z-index:500;
}
.es-logo.light {
  display: flex;
}
.es-logo.dark {
  display: none;
}
.footer-url {
  font-size: 20px;
  display: none;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
canvas {
  z-index: 498!important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.alert {
    background-color: #f2dede;
    padding: 20px;
    margin: 20px;
    padding-top: 0;
    border-radius: 5px;
    border: white;
    z-index:499;
    display: none;
}
.alert .closeButton {
    cursor: pointer;
    text-align: right;
    font-size: 14px;
}
