.ribbonArea {
  z-index: 500;
  width: 80%;
  display: none;
  align-item: center;
  flex-direction: column;
  justify-content: center;
}
.ribbon-content {
  height: 0px;
  max-height: 0px;
}
.ribbon strong {
  background: #2d7f91;
}
.ribbon textarea {
  resize: none;
  width:90%;
  font-size: 1.2em;
  background: none;
  text-align: center;
  vertical-align: middle;
  border: none;
  margin-top: 10px;
  background: #2d7f91;
  margin-bottom: 10px;
  font-family: 'Roboto';
  color: white!important;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
.ribbonArea h1 {
  font-size: 25px;
}
@media(min-width: 768px) {
  .ribbon textarea {
      font-size: 2em;
    }
}

.ribbon {
  width: 100%;
  z-index: 500;
  //top: 10%;
  position: relative;
  text-align: center;
  font-size: 20px!important;
  background: #2d7f91!important;
  font-family: 'Helvetica Neue',Helvetica, sans-serif;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
.ribbon h1 {
   //font-size: 25px!important;
   color: #ffffff;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #2d7f91;
   z-index: -1;
   -webkit-print-color-adjust: exact;
   color-adjust: exact;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 0px 0px 0px;
   -moz-box-shadow: rgba(000,000,000,0.4) 0px 0px 0px;
   box-shadow: rgba(000,000,000,0.4) 0px 0px 0px;
   -webkit-print-color-adjust: exact;
   color-adjust: exact;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -0px 0px 0px;
   -moz-box-shadow: rgba(000,000,000,0.4) -0px 0px 0px;
   box-shadow: rgba(000,000,000,0.4) -0px 0px 0px;
   -webkit-print-color-adjust: exact;
   color-adjust: exact;
   }
@media print {
    .ribbon:before {
      border-left-color: white;
    }
    .ribbon:after {
      border-right-color: white;
    }
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #195f70 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   -webkit-print-color-adjust: exact;
   color-adjust: exact;

   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons .fa {
  padding: 5px;
  font-size: 30px;
  color: rgb(16,50,58);
  cursor: pointer;
}
.seismoIcon {
    height: 30px;
    padding: 5px;
}
