.react-date-field {
  z-index: 500;
  min-width: 340px;
  padding-left: 5%;
  padding-right: 5%;
  border: none;
}
.react-date-field--theme-default.react-date-field--focused {
    border: none;
}
.react-date-field input {
  margin-top: -50px;
  text-align: center;
  border: 4px solid white;
  background: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size:20px;
}
*::-webkit-input-placeholder {
    color: white;
}
*::-moz-placeholder {
    color: white;
}
*:-moz-placeholder {
    color: white;
}
*:-ms-input-placeholder {
    color: white;
}
.react-date-picker__calendar {
  position:relative;
  margin-bottom: 10px;
  padding: 30px;
  border: none;
}
.react-date-field__calendar-icon {
  display: none;
}
.react-date-field--theme-default .react-date-field__clear-icon {
  display: none!important;
}
react-flex.react-date-picker__nav-bar-history-view.react-date-picker__history-view.react-date-picker__history-view--theme-default.react-flex-v2--align-items-stretch.react-flex-v2--wrap.react-flex-v2--column.react-flex-v2--display-inline-flex{
  height: 50%;
}
.react-date-picker__month-view--theme-default.react-date-picker__month-view-day .react-date-picker__month-view-day-text {
  min-width: 25px;
  max-width:25px;
  min-height: 25px;
  max-height: 25px;
}
@media(min-width:350px;){
  .react-date-field {
    min-width:340px;
  }
}
