.intro {
  z-index: 499;
	font-size: 1vmin;
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	font-family: 'Raleway';
	margin-left: auto;
	margin-right: auto;
}
.intro span.bq {
	text-shadow: 4px 4px 4px black;
	color: #C390D4;
	font-weight: 900;
	line-height:1.5em;
	font-size: 12vmin;
  //IE9
	font-size: 12vm;
}
.blue {
	color: #CCFFFF;
	padding-top: 20px;
}
.intro p {
	font-weight: 300;
}
.tiny {
	font-size: 11px;
}
@media(min-width: 500px) {
  .intro span.bq {
    font-size: 10vmin;
    //IE9
    font-size: 10vm;
  }
  .tiny {
    font-size: 16px;
  }
}
@media(min-width: 768px) {
  .intro span.bq {
    font-size: 7vmin;
  }
}
