.bottomWrapper {
  z-index:500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainMenu input.react-date-field__input {
  color: white;
}
.mainMenu {
  //font-size: .75em;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding: 0px;
  transition: background .25s linear;
}
.mainMenu .QuakeList * {
  margin: 0;
}
.mainMenu .react-scrollbar-default {
  max-height: 50%;
}
.mainMenu.notShaded {
}
.mainMenu.shaded {
  background: rgba(0,0,0,.5);
}
.mainMenu a .blue {
  margin-top: 0px;
}
.mainMenu .blue {
  margin-top: 10px;
  padding-top: 0;
  color: rgb(178,233,244);
}
.mainMenu {
}
.detailsNotActive {
  display: none;
}
@media(min-height: 650px){
  .mainMenu {
    padding:20px;
  }
}
