.QuakeList {
  text-align: center;
  z-index: 499;
 // display: flex;
  //align-items: center;
  //justify-content: center;
  padding-left:2%;
  padding-right: 2%;
}
.QuakeList h2 {
  font-size: 3.5vmin;
  margin: 0;
}
@media(min-width:768px) {
  .QuakeList h2 {
    font-size: 1.5em;
  }
}
.inner {
  text-align: left;
  padding: 10px;
}

@media(min-width: 768px) {
  .inner {
    padding: 20px;
  }
  .QuakeList {
    padding-left: 40px;
    padding-right: 40px;
  }
}
