/* INTRO SCREEN */

.introScreen .intro, .introScreen .react-date-field {
  display: block;
}
.introScreen .shade {
  display: block;
}
.introScreen .ribbonArea {
  display: none;
}
.introScreen .quakeList {
  display: none;
}
.introScreen .alert {
  display: none;
}
.introScreen.errorOpen .alert {
  display: block;
}

/* Make vertical room for date picker calendar. */
@media(max-width: 767px) {
  .introScreen .bottomWrapper {
    margin-top: 200px;
  }
}

/* SECONDARY "RESULTS" SCREEN */

.quakeResults .shade {
  display: none;
}
.quakeResults .mainMenu {
  background: rgba(0,0,0,.5);
}
.quakeResults .es-logo.light {
  display: none;
}
.quakeResults .es-logo.dark {
  display: block;
}
.quakeResults .es-logo.print {
  display: none;
}
.quakeResults .intro {
  display: none;
}
.quakeResults .ribbonArea {
  display: flex;
}
.quakeResults .quakeList {
  display: block;
}
.quakeResults .upperDate {
  display: none;
}
.quakeResults.nameIsInput .icons {
  //display: block;
}
.quakeResults.nameNotInput .icons {
  //display: block;
}
.quakeResults .mainMenu input.react-date-field__input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: rgb(132,143,150);
  color: black;
  font-size: 15px;
  font-weight: 600;
  border: none;
}
.quakeResults.modalOpen .infoTable {
  display: table;
  z-index:500;
  background: rgba(255,255,255,0.75);
  padding: 20px;
  padding-top: 0px;
  width: 80%;
}
/* Make vertical room for date picker calendar. */
@media(max-width: 767px) {
  .quakeResults .bottomWrapper {
    margin-top: 80px;
  }
}
@media(min-width: 1400){
  .quakeResults .infoTable {
    width: 60%;
  }
}
@media(min-width: 1800){
  .quakeResults .infoTable {
    width: 50%;
  }
}
.quakeResults .infoTable .stripe {
  background: rgba(50,50,50,0.25);
}

/* Print View */
.printView .shade {
  display: none;
}
.printView .mainMenu {
  padding: 20px 0 0 0;
}
.printView .ribbonArea {
  display: flex;
}
.printView .ribbonArea .icons {
  display: none;
}
.printView .intro {
  display: none;
}
.printView .upperDate h1 {
  margin: 0 0 10px 0;
}
.printView .react-date-field {
  display: none;
}
.printView .topQuake {
  display: block;
}
.printView .quakeMap {
  position: relative;
  width: 510px;
  height: 380px;
}
.printView .QuakeList {
  margin-bottom: 10px;
}
.printView .QuakeList h2 {
  font-size: 22px;
  color: #333;
}
.printView .QuakeList p {
  color: #666;
  font-size: 20px;
}
.printView .QuakeList a {
  display: none;
}
.printView .QuakeList .inner {
  padding: 10px 0 0 0;
}
.printView .bottomWrapper {
  width: 90%;
}
.printView {
  position: static;
  width: 800px;
  height: auto;
  margin: 0 auto;
}
.printView .ribbon textarea {
  font-size: 50px;
  min-height: 50px;
}
.printView .infoTable {
  display: table;
  font-size: 13px;
  margin: 10px 0 20px 0;
}
.printView .controls {
  display: none;
}
.printView .header th {
  font-size: 14px;
}
.printView .es-logo.light {
  display: none;
}
.printView .es-logo.dark {
  display: none;
}
.printView .footer-url {
  display: block;
}
@media print {
  *, :before, :after {
    color: inherit !important;
    text-shadow: inherit !important;
    background: inherit !important;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
  }

  @page {
    size: letter;
    margin: 0;
  }
}
